body {
    background-image: url("../img/influ-1.jpg");
    background-color: #cccccc; 
    height: 60vh; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
   }